/* the bellow code belongs to the style of the tabs on the top of the page */
[data-tab-content] {
    display: none;
  }
  
  .active[data-tab-content] {
    display: block;
  }
  
  body {
    padding: 0;
    margin: 0;
  }
  
  .tabs {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;
  }
  
  .tab {
    cursor: pointer;
    padding: 10px;
  }
  
  .tab.active {
    background-color: #CCC;
  }
  
  .tab:hover {
    background-color: #AAA;
  }
  
  .tab-content {
    margin-left: 20px;
    margin-right: 20px;
  }


/* The home page content */

.logo h1{
    margin: 0;
}

/* The bellow code belongs to the body class of the page */

.body {
    display: flex;
    justify-content: center;
} 

 .body img {
     margin-right: 40px;
    border-radius: 50%;
    width: 180px;
    height: 180px;
}

.intro {
    padding-left: 0%;
    margin-top: 45px;
    color: black;
}
.intro h2 {
    display: inline;
    line-height: 30px;
}
.intro .developer_heading {
    padding: 20px;
    display: inline;
    color: #19bd9b;
    line-height: 60px;
}

/* The code bellow this line belongs to the css of paragraphs section */

.paragraphs{
    padding: 50px 50px 0px 50px;
}
.inner_paragraphs {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.paragraphs h3 {
    text-align: center;
    margin: 0%;
}
.paragraphs p {
    line-height: 20px;
    word-spacing: 3px;
}
.paragraphs a {
    text-decoration: none;
    color: #19bd9b;
}

/* The about page content */

.about_body {
    display: flex;
    flex-wrap: wrap;
}
.about_body img{
    width: 360px;
    height: 400px;
    margin-left: 80PX;
}
.about_context {
    padding-left: 30px;
}
.about_context .about_biography {
    font-size: 20px;
}
.about_context .about_info {
    font-size: 15px;
    word-spacing: 4px;
    line-height: 20px;

}

/* the contact page content */

.contact_body {
    background-color: #EAEAEA;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.contact_main {
    margin: 0;
    padding: 50px;
}

.contact_main_heading {
    margin: 0;
    color: gray;
}

.contact_main_paragraph {
    color: gray;
}

form label {
    color: gray;
    font-weight: bold;
}

form input{
    padding: 15px;
    width: 390px;
}

form textarea {
    padding: 45px;
    width: 333px;
}

form button {
    padding: 8px;
    width: 130px;
    background-color: #19bd9b;
    border-color: #19bd9b;
}

.contact_main2 {
    margin: 0;
    padding: 50px;
}

.inner_contact_main2 h2 {
    color: gray;
}

.inner_contact_main2 h5 {
    color: #19bd9b;
    margin: 5px;
}

.inner_contact_main2 a {
    color: gray;
    text-decoration: none;
}


